body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background: -webkit-linear-gradient(rgba(247, 129, 84, 0.8), rgba(50, 205, 100, 0.8)), url("assets/login__bg.jpg");
  background: linear-gradient(rgba(247, 129, 84, 0.8), rgba(50, 205, 100, 0.8)), url("assets/login__bg.jpg");
}

#login__ctn {
  min-height: 100vh;
  width: auto;
  background: -webkit-linear-gradient(rgba(247, 129, 84, 0.8), rgba(50, 205, 100, 0.8)), url("assets/login__bg.jpg");
  background: linear-gradient(rgba(247, 129, 84, 0.8), rgba(50, 205, 100, 0.8)), url("assets/login__bg.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}
#login__ctn input {
  -webkit-appearance: none;
  border-radius: 0;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.3) !important;
  border: 0;
  padding: 25px 30px;
}
#login__ctn .form-control::-webkit-input-placeholder {
  color: #ffffff;
  opacity: .6;
}
#login__ctn .panel {
  background-color: transparent;
  border: 0;
  box-shadow: none;
}
#login__ctn .panel button {
  background-color: #32CD64;
  opacity: 1;
  border: 0;
  border-radius: 0;
  font-size: 20px;
}
#login__ctn .panel-heading {
  background-color: transparent;
  border: 0;
  text-align: center;
}
#login__ctn .panel-heading h2 {
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  font-size: 45px;
}
#login__ctn .panel-body {
  background-color: transparent;
}
#login__ctn .panel-heading {
  font-weight: bold !important;
}

#dash__ctn .navbar {
  background-color: #32CD64;
  color: #ffffff;
}
#dash__ctn .navbar .navbar-brand {
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  display: none;
  font-size: 30px;
}
#dash__ctn .navbar .navbar-brand img {
  height: 30px;
  padding-bottom: 5px;
}
#dash__ctn .nav {
  color: #ffffff;
}
#dash__ctn .nav li {
  background-color: transparent;
}
#dash__ctn .nav > li > a {
  color: #ffffff;
  padding: 15px;
  background-color: transparent;
}
#dash__ctn .nav > li > a:hover, #dash__ctn .nav > li > a:focus {
  text-decoration: none;
  background-color: transparent;
}
#dash__ctn .navbar-default {
  background-color: transparent !important;
  border-color: transparent !important;
}
#dash__ctn .nav > li {
  background-color: transparent;
}
#dash__ctn .nav > li.active > a {
  text-decoration: none;
  border: none;
  color: #2a2a2a;
}
#dash__ctn .nav > li.active > a {
  background-color: transparent;
}
#dash__ctn .sidebar ul li {
  color: #ffffff;
}
#dash__ctn #side-menu {
  background-color: transparent;
}
#dash__ctn #side-menu li {
  background-color: transparent;
}
#dash__ctn #side-menu li a {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: normal;
}
#dash__ctn #side-menu li a i {
  padding-right: 20px;
  display: inline-block;
}
#dash__ctn #page-wrapper {
  border: none;
  height: 100vh;
}
#dash__ctn .page-header {
  border-bottom: none;
  font-weight: normal;
  color: #2a2a2a;
  font-weight: bold;
  text-align: center;
}
#dash__ctn input {
  -webkit-appearance: none;
  border-radius: 0;
  color: #2a2a2a;
  padding: 25px 30px;
}
#dash__ctn label {
  font-weight: normal;
}
#dash__ctn .input-group-btn button {
  border: inherit;
  padding: 11px;
  border-radius: none;
}
#dash__ctn .btn-primary {
  border: 1px solid #32CD64;
  color: #32CD64;
  background-color: transparent;
  opacity: 1;
  border-radius: 0;
  font-size: 20px;
}
#dash__ctn .btn-default {
  border: 1px solid #2a2a2a;
  color: #2a2a2a;
  background-color: transparent;
  opacity: 1;
  border-radius: 0;
  font-size: 20px;
}
#dash__ctn table {
  border: none;
}
#dash__ctn table th {
  border: none;
  border-bottom: 1px solid #2a2a2a;
  color: #2a2a2a;
}
#dash__ctn table td {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #2a2a2a;
}
#dash__ctn table td .btn {
  border: 0;
}
#dash__ctn .logo {
  padding: 20px;
  text-align: center;
}

.notification {
  border-bottom: none;
  border: none;
  padding: 20px;
  box-shadow: -1px 9px 57px 0px rgba(0, 0, 0, 0.52);
}

.notification.error {
  border-left: 5px solid red;
  border-bottom: none;
  box-shadow: -1px 9px 57px 0px rgba(0, 0, 0, 0.52);
}

@media (min-width: 768px) {
  #page-wrapper {
    margin: 0 0 0 300px;
  }

  #dash__ctn .sidebar {
    width: 300px !important;
  }
}
#assessment__ctn {
  min-height: 100vh;
  width: auto;
  background: -webkit-linear-gradient(rgba(247, 129, 84, 0.8), rgba(50, 205, 100, 0.8)), url("assets/login__bg.jpg");
  background: linear-gradient(rgba(247, 129, 84, 0.8), rgba(50, 205, 100, 0.8)), url("assets/login__bg.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}
#assessment__ctn .assessment__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
#assessment__ctn .container {
  max-width: 960px;
  margin: 0 auto;
}
#assessment__ctn .panel {
  background-color: transparent !important;
  border: none;
  box-shadow: none;
}
#assessment__ctn .panel-heading {
  background-color: transparent;
  color: #ffffff;
  font-weight: bold;
  border: 0;
}
#assessment__ctn .panel-heading p {
  color: #ffffff;
  opacity: 1;
  font-weight: normal;
  text-align: left;
  padding: 10px 0;
}
#assessment__ctn input {
  -webkit-appearance: none;
  border-radius: 0;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.5) !important;
  border: 0;
  padding: 25px 30px;
}
#assessment__ctn select {
  border-radius: 0 !important;
  color: #2a2a2a;
  background-color: rgba(255, 255, 255, 0.5) !important;
  border: 0;
  padding: 25px 30px;
}
#assessment__ctn label {
  color: #ffffff;
}
#assessment__ctn button {
  position: relative;
  width: 100%;
  max-width: 300px;
  background-color: #32CD64;
  opacity: 1;
  border: 0;
  border-radius: 0;
  font-size: 20px;
  text-align: center;
  left: 100px;
}
#assessment__ctn textarea {
  -webkit-appearance: none;
  border-radius: 0;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.5) !important;
  border: 0;
  padding: 25px 30px;
}

/*# sourceMappingURL=master.css.map */