#dash__ctn {
	.navbar {
		background-color: $green;
		color: $white;

		.navbar-brand {
			color:$white;
			font-weight: bold;
			text-transform:uppercase;
			display: none;

			font-size: 30px;

			img {
				height:30px;
				padding-bottom:5px;
			}
		}
	}

	.nav {
		color:$white;

		li {
			background-color:transparent;
		}
	}

	.nav > li > a {
		color:$white;
		padding:15px;
		background-color:transparent;
	}



	.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
	}

	.navbar-default {
		background-color: transparent !important;
		border-color:transparent !important;
	}

	.nav>li {
		background-color:transparent;
	}
	.nav>li.active>a {
    text-decoration: none;
    border:none;
    color:$dark;
}

.nav>li.active>a {
	background-color:transparent;
}


	.sidebar ul li {

		color:$white;
	}

	#side-menu {
		background-color:transparent;
		li {
			background-color: transparent;
			a {
				text-transform: uppercase;
				letter-spacing: 2px;
				font-weight: normal;
				i {
					padding-right:20px;
					display: inline-block;
				}
			}
		}
	}

	#page-wrapper {
		border:none;
		height:100vh;
	}

	.page-header{
		border-bottom:none;
		font-weight: normal;
		color:$dark;
		font-weight: bold;
		text-align: center;

	}

	input {
		-webkit-appearance: none;
		border-radius:0;
		color: $dark;
		padding:25px 30px;
	}

	label {
		font-weight: normal;
	}

	.input-group-btn {
		button {
			border:inherit;
			padding:11px;
			border-radius:none;
		}

	}

	.btn-primary {
			border: 1px solid $green;
			color:$green;
			background-color:transparent;
			opacity:1;
			// padding:10px 30px;
			border-radius:0;
			font-size: 20px;
	}

	.btn-default {
		border: 1px solid $dark;
			color:$dark;
			background-color:transparent;
			opacity:1;
			// padding:10px 30px;
			border-radius:0;
			font-size: 20px;
	}

	table {

		border:none;
		th {
			border:none;
			border-bottom:1px solid $dark;
			color:$dark;
		}
		tr {
		}
		td {
			border:none;
			background-color:transparent;
			border-bottom:1px solid $dark;

		.btn {
			border:0;
		}

		}
	}

	.logo {
		padding: 20px ;
		text-align:center;
	}
}

.notification {
	border-bottom:none;
	border:none;
	padding: 20px;
	box-shadow: -1px 9px 57px 0px rgba(0,0,0,0.52);

}

.notification.error {
    border-left:5px solid red;
		border-bottom:none;
		box-shadow: -1px 9px 57px 0px rgba(0,0,0,0.52);

}


@media (min-width: 768px) {
#page-wrapper {
    margin: 0 0 0 300px;
}
#dash__ctn .sidebar {
		width: 300px !important;
	}
}
