body {
	// font-family: 'Montserrat', sans-serif;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	background: linear-gradient(rgba(247, 129, 84, .8), rgba(50, 205, 100, .8)), url('assets/login__bg.jpg');
}

a {

}